[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
[submodule "squirrel"]
	path = squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
